<script>
  import { createEventDispatcher } from 'svelte'

  const dispatch = createEventDispatcher()

  export let items
  export let activeItem
</script>

<nav class="tabs">
  <ul>
    {#each items as item}
      <li>
        <div class:active={item === activeItem} on:click={dispatch('tabChange', item)}>{item}</div>
      </li>
    {/each}
  </ul>
</nav>

<style>
  nav{
    text-align:center
  }
  ul{
    width:100%;
    padding: 0;
    list-style-type:none;

    display: flex;
    justify-content:center;
    gap: 1.2rem;
  }
  div{
    padding:10px 0;
    cursor:pointer;
    font-weight: 500;
  }
  .active{
    border-bottom:2px solid #f32b2b;
    color:#f32b2b;
  }
</style>