<footer>
    <p>Copyright 2020 Poll Ninja</p>
</footer>

<style>
  footer{
    text-align:center;
  }
  p{
    display: inline-block;
    border-top: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0 0 0;
    color: #aaa;
    font-size: 0.85rem;
  }
</style>