<header>
	<h1>
		<img src="../../img/poll_ninja_logo.svg" alt="">
	</h1>
</header>


<style>
	h1{
		background-color: #f7f7f7;
		margin: 0;
		padding:1.2rem;

		display:flex;
		justify-content: center;
		align-items: center;
	}
	img{
		width: 80%;
		max-width: 200px;
	}
</style>    