<script>
	import Header from './components/Header.svelte'
	import Footer from './components/Footer.svelte'
	import Tabs from './shared/Tabs.svelte'

	//Tabs
	const items = ['Current Polls', 'Add New Poll']
	let activeItem = 'Current Polls'

	const tabChange = (e) => {
		activeItem = e.detail
	}
</script>

<Header />
<Tabs {items} {activeItem} on:tabChange={tabChange}/>
<main>
	{#if activeItem}

	{/if}
</main>
<Footer />

<style>
	main{
		width: 80%;
		max-width:960px;
		margin: 0 auto;
	}
</style>